absl-py==2.1.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1729059237860/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1729602376506/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
distlib==0.3.6
etils==1.10.0
filelock==3.10.7
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1729530382886/work
fsspec==2024.10.0
glfw==2.7.0
gym @ file:///Users/runner/miniforge3/conda-bld/gym_1673317599242/work
gym-notices @ file:///home/conda/feedstock_root/build_artifacts/gym-notices_1671541680412/work
importlib_resources==6.4.5
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1725459273855/work
matplotlib==3.9.2
mujoco==3.2.4
munkres==1.1.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225416355/work/dist/numpy-1.26.4-cp310-cp310-macosx_11_0_arm64.whl#sha256=14c628943f67e9c10d22faa9c1cdcbf69c3192e88f2f597d03b77a252e589567
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1729065728065/work
PyOpenGL==3.1.7
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1728880423364/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1729480738696/work/dist/scipy-1.14.1-cp310-cp310-macosx_11_0_arm64.whl#sha256=c63f4292b358a668ef07f016bf676dae22eb6d94721d01646ad833e6308108b6
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1724956245888/work
typing_extensions==4.12.2
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1729704615031/work
virtualenv==20.21.0
zipp==3.20.2
